extends layout

block content
    - posts.forEach(function (post, index){
        p
            h2
                a(href="#")= post.title
        p(class="info")
            作者：
            a(href="#")= post.name
            日期：
            a= post.time.minute
        != post.post
    - })