doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header=title
    nav
        span
            a(title="主页", href="/") home
        span
            a(title="登陆", href="/") login
        span
            a(title="注册", href="/") register

    block content